body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#banner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 200px;
}

#banner #logo{
    position: absolute;
    background-image: url('imgs/logo.png');
    width: 450px;
    height: 150px;
}

#banner #decoration{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('imgs/decor.png');
    width: 150px;
    height: 150px;
}
